* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.header{
    font-family: "CustomFont";
    flex: .5;
    background-image: linear-gradient(to right, #ec4899, #fdf2f8);
    font-size: 5em;
    display: flex;
    padding: .2em;
    border-bottom: 2px solid rgb(246, 154, 169);
  }
.title {
    font-family: "CustomFont";
    color: #fdf2f8;
    flex: 10;
    display: flex;
    justify-content: center;
}
.color {
    color: #f572ba;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.main {
    flex: 5; background-color: white;
    display: flex;
}
.header {
    display: flex;
    align-items: center;
}
.dropdown {
    flex: .1;
    display: flex;
    justify-content: center;
    color: black;
}
.dropdown:hover {
    background-color: rgb(254, 154, 253);
}
.main-content {
    font-family: "CustomFont";
    flex: 8;
    background-color: rgb(252, 252, 252);
}

.drop-down-items {
    display: flex;
    flex-direction: column;
    flex: 2; 
    background-color: #fdf2f8;
    padding: .5em;
    font-size: 2em;
    gap: .6em;
    opacity: 1;
    transition: transform 1s ease, opacity 1s ease;
}   
.home, .project{
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    padding: .05em;

}
.home-things {
    font-family: "CustomFont";
    display: flex;
    flex-direction: column;
    padding-left: .5em;
    gap: .1em;
}
.inbox,.today, .this-week, .important, .completed{ 
    display: flex;
    font-size: .7em;
    padding: .3em;
    gap: .5em;
}
.inbox:hover ,.today:hover, .this-week:hover, .important:hover, .completed:hover{ 
    background-color: #f9a8d4;
    border-radius: 2em;
}
.hide {
    display: none !important;
}
#show {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    font-size: 1.4em;
    background-color: #fbe1ef;
    border-radius: 1em;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.main-title {
    background-color: #ec4899;
    color: white;
    font-size: 3rem;
    padding: .5em .5em .5em .5em;
    border-radius: 1rem;
}
.format {
    padding: 1rem;
    gap: 1em;
}
.highlight {
    background-color: #f9a8d4;
    border-radius: 2em;
}
.popup-hide {
    display: none;
}
.task-frame{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    gap:1em;
}
.add-tasks {
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 1.8em;
    border-radius: 1em;
}
.add-tasks:hover{
    background-color: lightgrey;
}
.task{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    font-size: 1.4em;
    background-color: #fbe1ef;
    border-radius: 1em;
    gap: 0.5em;
    margin-bottom: 0.5em;
}

.first-line {
    font-size: 1.3em;
    display: flex;
    align-items: center;
    gap: .5em;
}
input[type="checkbox"] {
    font-size: .8em;
    transform: scale(1.5);
    border-radius: 50%; 
  }
.description {
    opacity: .5;
    font-size: 1em;
}
.date{

}
@font-face {
    font-family: 'CustomFont';
    src: url('Kolibest.otf') format('opentype'),
         url('Kolibest.ttf') format('truetype');
  }
